<% provide(:title, 'Preparadores') %>
<h1> Preparadores </h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="table-responsive">
			<table class="table prep_table">
				<tr>
					<th> Nombre </th> <th> Email </th> <th> Avatar </th>
				</tr>
				<% @preparadores.each do |preparador| %>
					<tr>
						<td><%= preparador.name %></td>
						<td><%= preparador.email %></td>
						<td><img src=<%=preparador.avatar%> alt="PrepAv" class="img-responsive"></td>
						<td><%= button_to "Eliminar", 
							 {controller: "admin", 
							 action: "eliminar_preparador", 
						 	 id: preparador.id, 
							 method: :put},
							 {:class => "btn btn-sm"} %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>	
</div>

<h1>Agregar Preparador</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @preparador, 
			url: {controller: "admin", action: "crear_preparador" } do |f| %>
			<%= render 'shared/preparador_error_messages' %>

			<%= f.label :name, "Nombre" %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email, "Email" %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :avatar, "Imagen (link)" %>
			<%= f.text_field :avatar, class: 'form-control'%>

			<%= f.submit "Agregar Preparador", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>