<header class="page-header">
	<h1>
		Mantenimiento de Aulas Computarizadas
		<a href="/">
			<img src="http://i.imgur.com/chTEOZA.png" alt="Mac logo" class="img-responsive">
		</a>
	</h1>
</header>
<div class="navbar navbar-inverse">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav">
				<li><%= link_to "Inicio",	  	root_path %></li>
				<li><%= link_to "Agrupación",   agrupacion_path %></li>
				<li><%= link_to "Servicios" , 	servicios_path%></li>
				<li><%= link_to "Preparadores", preparadores_path %></li>
				<li><%= link_to "Admisión", 	admision_path %></li>
			</ul>
		</nav>
		<% if logged_in? %>
			<nav>
				<ul class="nav navbar-nav navbar-admin">
					<li><%= link_to "Admin", '/admin/home' %></li>
					<li><%= link_to "Servicios", '/admin/servicios' %></li>
					<li><%= link_to "Preparadores", '/admin/preparadores' %></li>
					<li><%= link_to "Admisión", '/admin/admision' %></li>
				</ul>
			</nav>
		<% end %>
	</div>
</div>